[submodule "themes/next"]
	path = themes/next
	url = git@github.com:theme-next/hexo-theme-next.git
	branch = master
	ignore = dirty
[submodule "themes/hexo-theme-forked-edinburgh"]
	path = themes/hexo-theme-forked-edinburgh
	url = git@github.com:kevinshu1995/hexo-theme-forked-edinburgh.git
	branch = master
	ignore = dirty
[submodule "themes/hexo-theme-tranquilpeak"]
	path = themes/hexo-theme-tranquilpeak
	url = git@github.com:kevinshu1995/hexo-theme-tranquilpeak.git
	branch = master
	ignore = dirty
